In [ ]:
# İSTATİSTİĞE GİRİŞ

In [30]:
import numpy as np
import pandas as pd
from math import factorial

In [1]:
# aritmetik ortalama : (sayıların toplamı) / (sayı adedi)
# varyans            : [(sayı - aritmetik ortalama)**2 + tüm sayılar için ] / (sayı adedi -1)
# standart sapma     : varyansın karekökü

In [2]:
(10+8+7+6+5)/5

7.2

In [3]:
((10-7.2)**2)

7.839999999999999

In [4]:
# örneklem modelleme (her bir değişkeni tek tek incelemektense örneklem grupları oluşturulur.)

In [7]:
populasyon = np.random.randint(10,80,size=100000)

In [8]:
np.random.seed(115) # 100 den büyük farklı örneklem sayısı için tüm örneklerin farklı değerleri olması için (101 de olur)

In [15]:
orneklem1 = np.random.choice(a=populasyon, size = 100) # a yı yazmaya gerek yok

In [16]:
orneklem1.mean()

44.21

In [11]:
populasyon.mean()

44.5071

In [17]:
44.5071-42.21 # tek örnek arasındaki fark

2.2971000000000004

In [ ]:
# örneklem sayısı arttıkça ana populasyındaki (asıl verideki) orana, değere (ana değere) daha çok yaklaşırız.

In [19]:
orneklem1 = np.random.choice(a=populasyon, size = 100)
orneklem2 = np.random.choice(a=populasyon, size = 100)
orneklem3 = np.random.choice(a=populasyon, size = 100)
orneklem4 = np.random.choice(a=populasyon, size = 100)
orneklem5 = np.random.choice(a=populasyon, size = 100)
orneklem6 = np.random.choice(a=populasyon, size = 100)
orneklem7 = np.random.choice(a=populasyon, size = 100)
orneklem8 = np.random.choice(a=populasyon, size = 100)
orneklem9 = np.random.choice(a=populasyon, size = 100)
orneklem10 = np.random.choice(a=populasyon, size = 100)

In [23]:
((orneklem1.mean()+orneklem2.mean()+orneklem3.mean()+orneklem4.mean()+orneklem5.mean()+orneklem6.mean()+
  orneklem7.mean()+orneklem8.mean()+orneklem9.mean()+orneklem10.mean()))/10

44.112

In [24]:
populasyon.mean()

44.5071

In [25]:
orneklem1.mean()

45.41

In [ ]:
# yukarıda görüldüğü gibi fazla örneklemin ortalaması ana populasyondaki sonuca yaklaşır.

In [ ]:
# kovaryans : iki değişen arasındaki ilişkisel oranları inceler. Bir değişken artar veya azalırken diğer değişken de doğru
# orantıda artıp azalıyorsa pozitif yönlüdür.

In [32]:
df=pd.DataFrame(np.random.randint(2,30, size=(5,2)), columns=["deg1","deg2"])
df

   deg1  deg2
0    22    14
1    13    18
2    25     8
3    16    27
4    28    10

In [33]:
df["deg1"].mean()

20.8

In [34]:
df["deg2"].mean()

15.4

In [38]:
a = df["deg1"]-(df["deg1"].mean())
a

0    1.2
1   -7.8
2    4.2
3   -4.8
4    7.2
Name: deg1, dtype: float64

In [39]:
b = df["deg2"]-(df["deg2"].mean())
b

0    -1.4
1     2.6
2    -7.4
3    11.6
4    -5.4
Name: deg2, dtype: float64

In [40]:
c = a*b
c

0    -1.68
1   -20.28
2   -31.08
3   -55.68
4   -38.88
dtype: float64

In [41]:
kovaryans=(c.sum())/5
kovaryans

-29.52

In [ ]:
# bu iki tablo arasındaki ilişki negatif kovaryanstır. (ters orantı)

In [ ]:
# korelasyon iki değişken arasındaki ilişkinin durumunu inceler
# -1 ve +1 arasında değer alır.
# 0 ve 1 arasında değer pozitif korelasyon, -1 ve 0 arasında negatif korelasyon vardır.

In [47]:
x = df["deg1"]-(df["deg1"].mean())
y = df["deg2"]-(df["deg2"].mean())
# 1 ve ikinci tablodaki değerlerden ortalamalarını çıkardık.

In [48]:
x

0    1.2
1   -7.8
2    4.2
3   -4.8
4    7.2
Name: deg1, dtype: float64

In [49]:
y

0    -1.4
1     2.6
2    -7.4
3    11.6
4    -5.4
Name: deg2, dtype: float64

In [50]:
x_kare = x ** 2
x_kare

0     1.44
1    60.84
2    17.64
3    23.04
4    51.84
Name: deg1, dtype: float64

In [51]:
y_kare = y ** 2
y_kare

0      1.96
1      6.76
2     54.76
3    134.56
4     29.16
Name: deg2, dtype: float64

In [53]:
carpım = x * y
carpım

0    -1.68
1   -20.28
2   -31.08
3   -55.68
4   -38.88
dtype: float64

In [54]:
carpım_toplam = carpım.sum()
x_kare_toplam = x_kare.sum()
y_kare_toplam = y_kare.sum()

In [55]:
korelasyon = carpım_toplam / ((x_kare_toplam * y_kare_toplam)**0.5)
korelasyon

-0.7870398379486128

In [56]:
# ters yönlü negatif yüksek bir ilişki vardır.

In [ ]:
# kovaryans formülü python içinde kullanımı

In [57]:
df[["deg1", "deg2"]].cov()

      deg1  deg2
deg1  38.7 -36.9
deg2 -36.9  56.8

In [58]:
df[["deg1"]].cov()

      deg1
deg1  38.7

In [59]:
df[["deg2"]].cov()

      deg2
deg2  56.8

In [ ]:
# korelasyon formülü python içinde kullanımı

In [60]:
df[["deg1"]].corr()

      deg1
deg1   1.0

In [61]:
df[["deg2"]].corr()

      deg2
deg2   1.0

In [62]:
df[["deg1", "deg2"]].corr()

         deg1     deg2
deg1  1.00000 -0.78704
deg2 -0.78704  1.00000

In [64]:
import seaborn as sns

In [ ]:
# büyük datalar ile çalışalım

In [65]:
df = sns.load_dataset("tips")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
# iki değer arasındaki ilişki için cov()

In [66]:
df[["total_bill", "tip"]].cov()

            total_bill       tip
total_bill   79.252939  8.323502
tip           8.323502  1.914455

In [ ]:
# arasında doğru ilişki var

In [67]:
df[["total_bill", "tip"]].corr()

            total_bill       tip
total_bill    1.000000  0.675734
tip           0.675734  1.000000

In [ ]:
# çok kuvvetli bir ilişki var

In [69]:
# Güven Aralıkları : bir web sitesinde geçirilen sürenin güven aralığı nedir?
# n = kişi sayısı, arit_ort, standart_sapma, 
# n = 100, ort = 180, std = 40
180 + 1.96 * 4
# 172 -188 arasında %95 lik bir başarı var demektir.

187.84

In [ ]:
# örnek

In [ ]:
fiyat = np.random.randint()

In [ ]:
# buradan sonrası bende yok hocam, 20 dakika aradan sonrası bıraktım.

In [70]:
# güven aralıkları konusundaki notebook başkasından kopyalamak gerek

In [71]:
# Binom (Bernouilli):